@page
@model Torneo.App.Frontend.Pages.Partidos.DetailsModel
@{
}
<h1>Detalle del partido</h1>
<title>cambiar tipo de letra</title>
<style>
        h1{
            font-family: fantasy;
            color: green;
        }
</style>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.partido.Id</td>
    </tr>
    <tr>
        <th scope="col">Marcador local</th>
        <td>@Model.partido.MarcadorLocal</td>
    </tr>
    <tr>
        <th scope="col">Marcador visitante</th>
        <td>@Model.partido.MarcadorVisitante</td>
    </tr>
    <tr>
        <th scope="col">Fecha</th>
        <td>@Model.partido.FechaHora</td>
    </tr>
</table>
<a class="btn btn-success" asp-page="./Index">Volver</a>
