@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear posicion</a>
<h1>Lista de posiciones</h1>
<title>cambiar tipo de letra</title>
<style>
        h1{
            font-family: fantasy;
            color: green;
        }
</style>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var posicion in Model.posiciones)
        {
            <tr>
                <th scope="row">@posicion.Id</th>
                <td>@posicion.Nombre</td>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@posicion.Id">
                        Detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
